In [3]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_statlog=pd.read_csv('capstone datasets/Heart Disease Statlog/Heart_disease_statlog.csv')

In [5]:
df_statlog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       270 non-null    int64
 1   sex       270 non-null    int64
 2   cp        270 non-null    int64
 3   trestbps  270 non-null    int64
 4   chol      270 non-null    int64
 5   fbs       270 non-null    int64
 6   restecg   270 non-null    int64
 7   thalach   270 non-null    int64
 8   exang     270 non-null    int64
 9   oldpeak   270 non-null    float64
 10  slope     270 non-null    int64
 11  ca        270 non-null    int64
 12  thal      270 non-null    int64
 13  target    270 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 29.7 KB

In [10]:
df_statlog.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,2.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,0.585185,0.670370,1.822222,0.444444
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,0.959140,0.497827
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,2.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000
50%,55.000000,1.000000,2.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,1.000000,0.000000,1.000000,0.000000
75%,61.000000,1.000000,3.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,1.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,2.000000,3.000000,3.000000,1.000000

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.metrics import accuracy_score, classification_report

In [7]:
X=df_statlog.drop(labels='target',axis=1)
y=df_statlog['target']

#### Feature scaling

In [24]:
scaler=StandardScaler()
X_standardized=scaler.fit_transform(X)
print(f'standard_features std is {X_standardized.std(axis=0)}')
print(f'standard_features mean is {X_standardized.mean(axis=0)}')

standard_features std is [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
standard_features mean is [ 3.66784792e-16  6.57909941e-18  6.08566695e-17  5.68269711e-16
 -2.46716228e-16  4.19417587e-17  3.12507222e-17  2.63163976e-17
  7.89491929e-17 -5.26327952e-17  9.82752974e-17 -6.57909941e-17
  3.94745964e-17]

#### Applying Logistics Regression

In [31]:
logistic_regression=LogisticRegression(random_state=42)
model=logistic_regression.fit(X_standardized,y)
y_predict=model.predict(X_standardized)
y_predict_proba=model.predict_proba(X_standardized)

accuracy = accuracy_score(y, y_predict)
print(f"Accuracy: {accuracy:.4f}")
print(classification_report(y, y_predict))

Accuracy: 0.8481
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       150
           1       0.85      0.80      0.82       120

    accuracy                           0.85       270
   macro avg       0.85      0.84      0.85       270
weighted avg       0.85      0.85      0.85       270

#### Feature normalization

In [33]:
normalizer=Normalizer()
X_normalized=normalizer.fit_transform(X)

In [34]:
logistic_regression=LogisticRegression(random_state=42)
model=logistic_regression.fit(X_normalized,y)
y_predict=model.predict(X_normalized)
y_predict_proba=model.predict_proba(X_normalized)

accuracy = accuracy_score(y, y_predict)
print(f"Accuracy: {accuracy:.4f}")
print(classification_report(y, y_predict))

Accuracy: 0.6667
              precision    recall  f1-score   support

           0       0.64      0.90      0.75       150
           1       0.75      0.38      0.50       120

    accuracy                           0.67       270
   macro avg       0.70      0.64      0.62       270
weighted avg       0.69      0.67      0.64       270

#### You can see the accuracy has decreased with the normalization. So basically, normalization is typically not used for Logistic Regression. It is used for distance or direction based models such as 

PCA<br>
KNN<br>
K-Means Clustering